## addusers in this format:
#user:CL:password
##see for documentation: http://www.3proxy.ru/howtoe.asp#USERS
{{guest.username}}:CL:{{guest.password}}
{{user1.username}}:CL:{{user1.password}}
{{user2.username}}:CL:{{user2.password}}
{{user3.username}}:CL:{{user3.password}}
{{user4.username}}:CL:{{user4.password}}
{{user5.username}}:CL:{{user5.password}}
